@import (reference) '../variables.less';

.doglit-switch-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	height: 100%;

	.doglit-switch{
		.paper;
		width: 10em;
		height: 10em;

		background: #fff no-repeat center center;
		background-size: cover;

		border: 0.2em solid #fff;
		border-radius: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		.icon{
			width: 3em;
			height: 3em;
			color: @red;
		}
	}
}

.example-transition-appear {
	opacity: 0.01;
}
.example-transition-appear.example-transition-appear-active {
	opacity: 1;
	transition: opacity 5000ms ease-in;
}


.example-transition-enter {
  opacity: 0.01;
}

.example-transition-enter.example-transition-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.example-transition-leave {
  opacity: 1;
}

.example-transition-leave.example-transition-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}
