@import '../variables.less';

.doglit-switch-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	height: 100%;

	.doglit-switch{
		.paper;
		width: 10em;
		height: 10em;

		background: #fff no-repeat center center;
		background-size: cover;

		border: 0.2em solid #fff;
		border-radius: 100%;
	}
}
