/* Colours
https://coolors.co/5cace5-e15554-efe8c4-3bb273-4c5b5c
Blue  : #5CACE5;
Red   : #E15554;
Green : #3BB273; ^#4CB97F
Cream : #EFE8C4;
Slate : #4C5B5C;
*/


.DoglitSelectorImage{
  height: 100%;
}
.DoglitSelectorImage__image{
  width: 100%;
  height: 100%;

  border-radius: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 35.5em){
}
@media screen and (min-width: 48em){
  
}
@media screen and (min-width: 64em){
  
}
@media screen and (min-width: 80em){
  
}
