@import 'variables.less';

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Nunito:400,600,700,800,900|Rubik:400i,500,700,900');

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

::selection {
  background: #fff43c;
}

html, body, #app, .main-container{
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: @blue;
}

.main-container {
	display: grid;
	grid-template-columns: 2fr 3fr 3fr 2fr;
	grid-template-rows: 1fr 3fr 1fr;
	grid-gap: 1em 2em;

	grid-template-areas: 
		"header header 		header 	header"
		"main 	main 		main 	main"
		". 		previous 	next 	."
	;

	@media @size-md{
		grid-template-areas: 
			". 			header 	header 	."
			"previous 	main 	main 	next"
			". 			main 	main 	."
		;
	}

}

section{
	&.header-area{
		grid-area: header;
	}
	&.doglit-area{
		grid-area: main;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	&.previous-area{
		grid-area: previous;
	}
	&.next-area{
		grid-area: next;
	}
}

.header-container{
	h1{
		.cutout;
		font-family: 'Nunito', sans-serif;
		// font-family: 'Rubik', sans-serif;
		// font-family: 'Comfortaa', sans-serif;
		font-size: 4em;
		color: @red;
		margin: 0.2em 0;
	}
	hr{
		border: none;
		border-bottom: 0.2em solid @red;
		margin-top: 0;
	}
}
